.button {
  background: none;
  border: none;
  border-radius: 0;
  cursor: 'pointer';
  display: 'block';
  flex-shrink: 0;
  outline: 0;
  padding: 0;
}

.button:disabled {
  cursor: default;
}

.icon {
  width: 48px;
  height: 48px;
  position: relative;
}

.icon svg {
  width: 24px;
  height: 24px;
  display: 'block';
  position: absolute;
}