.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

.mainContent {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}