.card {
  width: 140px;
  height: 178px;
  /* opacity: 0.28; */
  border-radius: 16px;
  /* background-color: #000000; */
  background-color: grey;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card.algebra {
  background-image: url('./icons/algebra.png');
}

.card.physics {
  background-image: url('./icons/physics.png');
}

.card.russian {
  background-image: url('./icons/russian.png');
}

.big {
  width: 300px;
  height: 239px;
}

.group:after {
  display: block;
  content: none;
  width: 156px;
  height: 168px;
  opacity: 0.42;
  border-radius: 16px;
  background-color: #000000;
  position: relative;
  top: 6px;
  left: -8px;
}

.badge {
  display: inline-block;
  padding: 0 8px;
  margin: 8px;
  height: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #333;
  background-color: red;
}

.badge.algebra {
  background-color: #f8e71c;
}

.badge.physics {
  background-color: #04bdad;
  color: #ffffff;
}

.badge.russian {
  background-color: #274e8f;
  color: #ffffff;
}

.bottom {
  margin-left: 10px
}

.category {
  margin-bottom: 6px;
  font-size: 8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  max-height: 36px;
  max-width: 108px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.backlog {
  margin-bottom: 8px;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.25px;
  color: #ffffff;
}