.section {
  padding: 0 25px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  margin-bottom: 16px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  letter-spacing: normal;
}

.expand {
  cursor: pointer;
  color: #1b4059;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.expand:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.carousel {
  display: flex;
}