.container {
  padding: 20px 16px 20px 24px;
}

.header {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.filtersLabel {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.resetButton {
  position: relative;
  right: -2px;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  background: none;
  border: none;
}

.resetButton:disabled {
  cursor: default;
  opacity: 0.3;
  text-decoration: none;
}

.filterLine {
  height: 22px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.filterLabel {
  color: #333333;
  font-size: 16px;
  text-transform: capitalize;
  margin-left: 12px;
}

.filterContent {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.expand {}