.container {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.info {
  display: inline-block;
  text-align: right;
  margin-right: 8px;
}

.name {
  font-size: 16px;
}

.role {
  font-size: 14px;
  display: block;
}